<title>Detalles de Categoria</title>
<h2>Detalles de la Categoría</h2>
<p><strong>Nombre:</strong> {{ categoria['nombre'] }}</p>
<p><strong>Descripción:</strong> {{ categoria['descripcion'] }}</p>
<h3>Productos en esta Categoría:</h3>
<table border="1">
    <thead>
        <th>id</th>
        <th>nombre</th>
        <th>descripcion</th>
        <th>precio</th>
        <th>stock</th>
        <th>id_categoria</th>
        <th>accion</th>
    </thead>
    <tbody>
        {% for producto in categoria["productos"] %}
        <tr>
            <td>{{producto.id_producto}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.stock}}</td>
            <td>{{producto.id_categoria}}</td>
            <td><a href="/eliminar_producto_categoria/{{producto.id_producto}}">eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/consultar_categoria">Volver</a>

