{% extends 'base.html' %}

{% block title %}Registrar Producto{% endblock %}

{% block content %}
<h2>Registrar Producto</h2>
<form method="POST" action="{{ url_for('main.registrar_producto') }}">
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre" required><br>
    <label for="descripcion">Descripción:</label><br>
    <input type="text" id="descripcion" name="descripcion" required><br>
    <label for="precio">Precio:</label><br>
    <input type="number" step="0.01" id="precio" name="precio" required><br>
    <label for="stock">Stock Inicial:</label><br>
    <input type="number" id="stock" name="stock" required><br>
    <label for="id_categoria">ID Categoría:</label><br>
    <select name="opciones" id="opciones">
        <option value="" selected>Seleccionar</option>
        {% for opcion in opciones %}
          <option value="{{opcion.id_categoria}}">{{opcion.id_categoria}} - {{opcion.nombre}}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Registrar">
</form>
{% endblock %}

